{% extends 'base.html' %}

{% block content %}
    <h3>Choose a username:</h3>
    <form action="/login" method="post">
        <div class="row">
            <div class="col">
                <input class="form-control" type="text" placeholder="Enter username" name="username" required></input>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
